body {
  padding: 0;
  margin: 0; }

.reveal-item {
  position: relative;
  transition: all .1s; }
  .reveal-item:nth-child(odd) {
    background: grey; }
  .reveal-item.current-slide {
    z-index: 1; }
